body {
  background-color: #000;
}

h1 {
  font-family: "Share Tech";
  animation: pulse 0.9s infinite;
  /* color: #00ebd4; */
  color: #00FF00;
}

i {
  font-size: 24px;
  /* color: #00ebd4; */
  color: #00FF00;
  animation: pulse 0.9s infinite;
}

#identity-results, #resume, #loading-alpha-div, #loadingH1, #loadingMessage2, #message {
  margin-top: 20px;
  font-family: "Share Tech";
  font-weight: 900;
  font-size: 24px;
  /* color: #00ebd4; */
  color: #00FF00;
  animation: pulse 0.9s infinite;
}

.cursor:after {
  content: "_";
  opacity: 0;
  animation: cursor 1s infinite;
}

#loading-alpha-div, .img-div {
  display: none;
}

#loadingMessage2 {
  display: none;
}
.sub-item {
  margin-top: 20px;
  margin-left: 40px;
}
